body { height: 100dvh; display: flex; flex-direction: column; }

.inline-flex { display: inline-flex; }
.flex-1 { flex: 1; }
.flex-wrap {flex-wrap: wrap;}
.m-0 { margin: 0;}
.p-2 { padding: var(--space-2); }
.card.stat { min-width: 12rem;}
.icon { width: var(--space-12); border-radius: var(--space-2);}
.icon-lg { width: var(--space-18); border-radius: var(--space-2);}
.gap-1 {gap: var(--space-1);}
.w-6 { width: calc(var(--space-2)*3); }
.w-30 { width: calc(var(--space-5)*6); }
.w-fit { width: fit-content; }
.text-sm { font-size: 0.8rem;}
.text-lg { font-size: 1.1rem;}
.icontext-center { 
  height: 4rem; 
  text-align: center; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  -webkit-line-clamp: 1; 
  line-clamp: 1; 
  display: -webkit-inline-box;
  -webkit-box-orient: vertical; 
}
.relative { position: relative; }
.absolute { position: absolute; }
.bottom-right-0 { bottom: 0; right: 0;}

[role=tabpanel].list article {
  margin-bottom: var(--space-2);
}

[role=tabpanel].list article:last-child {
  margin-bottom: 0;
}

.color-limited { background-color: #a5422432; }
.color-semi-limited { background-color: #88882432; }